#spinner-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(255 255 255 / 71%);
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#books {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    .row {
        width: calc(33% - 32px);
        border: 1px solid;
        margin: 16px;
        .col-md-4 img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}